:root { /* змінні для кольорів */
    --color1: #05b1b1;
    --color2: #52339a;
}

header, footer {
    padding: 100px 0;
}

section {
    padding: 50px 0 50px 0;
    background-color: #eee;
}

header {
    padding: 150px 0;
}

header, footer {
    /* після url(має бути дві крапки ".."), будь - які інші шляхи до того самого файлу чомусь не працюють взагалі, а інші відображаються тільки при відображенні сайту через "Live". ./site/img/pattern.png, /site/img/pattern.png та site/img/pattern.png - не працюють*/
    background: url(../img/pattern.png), var(--color1);
    background: url(../img/pattern.png), -moz-linear-gradient(left,  var(--color1) 0%, var(--color2) 100%);
    background: url(../img/pattern.png), -webkit-linear-gradient(left,  var(--color1) 0%,var(--color2) 100%);
    background: url(../img/pattern.png), linear-gradient(to right,  var(--color1) 0%,var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color1),GradientType=1 ); /* для роботи в інтернет експловрері */


    background-size: contain;
}

.itd_play {
    background-color: var(--color1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px auto;
    transition: all 0.7s ease;
}

.itd_play:hover {
    background-color: var(--color2);
}

.itd_triangle {
    margin-right: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent var(--bs-white);
}

.btn-itd {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 8px 30px;
    color: var(--bs-white);
    background-color: var(--color2);
}

.btn-itd:hover {
    color: var(--bs-white);
    background-color: var(--color1);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.accordion-color {
    background-color: #05b1b1;
}

.button-color {
    background-color: #6d4fb3;
}

/* розділ: "Про курс" */
.about i {
    font-size: 25px;
    color: var(--color2);
}

.itd_circle {
    margin: 0 auto 15px;
    width: 70px;
    height: 70px;
    border: 2px solid var(--color1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-gradient {
    border: 1px solid;
    border-image-slice: 1;
    margin: 20px 0 30px 0;
    border-image-source: linear-gradient(to left, var(--color1), var(--color2));
}

/* розділ "Акардіон" */
.main-accordion-color {
    color: var(--color1);
}

.main-button-color {
    color: var(--color1);
}

/* Колір */
.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.bg1 {
    background-color: var(--color1);
}

.bg2 {
    background-color: var(--color2);
}

.forwhom, .myAccordion, .learning, .user-feedback {
    background-color: #fff;
}

.forwhom h5 {
    padding: 50px;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, var(--color2), var(--color1));
    background-color: #eee;
}

/* міняємо колір svg-шки */
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='purple' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body-color {
    color: rgb(193, 29, 214);
}

/* Процес навчання */
.learning h5 {
    padding: 30px;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, var(--color1), var(--color2));
    font-size: 1rem;
    background-color: #eee;
    text-align: justify;
    word-spacing: normal;
}

.learning h2 {
    margin: 0;
    font-weight: 500;
    line-height: 1;
}

/* Розділ про автора */
.author > .container {
    padding: 30px;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, var(--color1), var(--color2));
    font-size: 1rem;
    background-color: #eee;
    text-align: justify;
    word-spacing: normal;
}

.author h5 {
    padding: 30px;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, var(--color1), var(--color2));
    font-size: 1rem;
    background-color: white;
    text-align: justify;
    word-spacing: normal;
}

.author h2 {
    margin: 0;
    font-weight: 500;
    line-height: 1;
}

.author img {
    padding: 10px;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, var(--color1), var(--color2));
    font-size: 1rem;
    background-color: white;
    text-align: justify;
    word-spacing: normal;
}

/* розділ про відгуки користувачів */
.user-box-style {
    text-indent: 40px;
    padding: 10px;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, var(--color1), var(--color2));
    font-size: 1rem;
    background-color: white;
    text-align: justify;
    word-spacing: normal;
    background-color: #eee;
}
.user-box-style h5 {
    text-indent: 0;
}

.user-image {
    display: table;
    margin: 0 auto;
    border: 2px solid;
    border-radius: 50% 20% / 10% 40%;
    border-color: var(--color1);
    padding: 3px;
    background-color: var(--color2);
}

.user-box-style > blockquote {
    margin: 0;
}

.one {
    padding: 15px;
    background: white;
    border-radius: 5px;
    font-style: italic;
}

.one::before {
    content: '\201C';
}

.one::after {
    content: '\201D';
}
